*
{
	font-family: 'Times New Roman', Times, serif; 
}
#main
{
	margin:2%;
	background-color:rgb(144, 238, 144);
	text-align: center;
	font-size: 25px;
}
body
{
	background-image:url(../src/images/BestHDWallpapersPack723_20.jpg);
    background-size: cover;
 background-attachment: fixed;
}
header
{
	background-color: aqua;
}
footer
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: auto;
}
#menu
{
    width: 50%;
    float: left;
}
div div
{
	text-align: center;
	padding: 1%;
}
.navbar-default {
  background-color:rgb(209, 235, 62);
  border-color: #e7e7e7;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}